<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Activités -->

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.DashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.ChatActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.DiscussionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.MediaFullscreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.NotificationsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.UserProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.EvenementActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.CollaborateurActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.SignalementActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.ActiviteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.AmisActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activities.CommentairesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"  />


        <activity android:name=".activities.ForgotPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"  />


        <activity
        android:name=".activities.ResetPasswordActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:exported="true">

        <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:scheme="https"
                android:host="workplacedigitalooredoo.tn"
                android:pathPrefix="/reset-password" />
        </intent-filter>


    </activity>




    </application>

</manifest>
